.preload {
    position: relative;
}

.preload:after {
    content: '';
    position: absolute;
    width: 56px;
    height: 56px;
    top: calc(50% - 28px);
    left: calc(50% - 28px);
    border: 11px dou #F6F3E3;

}