.radio__input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.radio__label {
    display: inline-block;
    padding: 16px 24px;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid #BFBDB2;
    border-radius: 36px;
}

.radio__label:hover

.radio__label_spec {
}