.slider {
    overflow: hidden;
    position: relative;
}

.slider__container {
    /*display: none;*/
}
.slider__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.slider__item {
    padding: 0 16px;
    flex-grow: 0;
    flex-shrink: 0;
}
.slider__img {
}
.slider__arrow {
}
.slider__arrow_left {
}
.slider__arrow-right {
}